<div class="main-container">
  <div class="search">
    <input class="recherche" type="text" placeholder="Entrez la matricule" name="searchedMat" [(ngModel)]="searchedMat">
    <a (click)="onSearch()"><i class="fa fa-search"></i></a>
  </div>
  <div class="consultform">
    <h1> Mr {{nurse.nom}} {{nurse.prenom}}</h1>
  </div>
  <div class="main">
    <form>
      <div id="name">
        <h2 class="name">Nom d'utilisateur</h2>
        <input class="code" type="text" name="nurse.username" [(ngModel)]="nurse.username">

      </div>
      <div id="name">
        <h2 class="name"> Nouvelle mot de passe</h2>
        <input class="code" type="text" name="nurse.password" [(ngModel)]="nurse.password">

      </div>
      <div id="name">
        <h2 class="name">Confirmer mot de passe</h2>
        <input class="code" type="text" name="rePassword" [(ngModel)]="rePassword">

      </div>
      <div id="name">
        <h2 class="name">Num de téléphone:</h2>
        <input class="code" name="nurse.numTel" [(ngModel)]="nurse.numTel">

      </div>
      <button type="submit" class="bouton2" (click)="onSave()">Sauvegarder</button>
    </form>
  </div>

</div>
