<div class="main-container">
  <div class="search">
    <input class="recherche" type="text" name="box" placeholder="Entrez la matricule ">
    <a href="#"><i class="fa fa-search"></i></a>
  </div>
  <div class="consultform">
    <h1> Mr Nom&Prénom</h1>
  </div>
  <div class="main">
    <form>
      <div id="name">
        <h2 class="name">Nom d'utilisateur</h2>
        <input class="code" type="text" name="area_code">

      </div>
      <div id="name">
        <h2 class="name"> Nouvelle mot de passe</h2>
        <input class="code" type="text" name="area_code">

      </div>
      <div id="name">
        <h2 class="name">Confirmer mot de passe</h2>
        <input class="code" type="text" name="area_code">

      </div>
      <div id="name">
        <h2 class="name">Num de téléphone:</h2>
        <input class="code" type="text" name="area_code">

      </div>
      <button type="submit" class="bouton2">Sauvegarder</button>
    </form>
  </div>

</div>
