<div class="main-container">
  <div>
    <div class="consultform">
      <h1>Formulaire agent</h1>
    </div>
    <div class="main">
      <div id="name">
        <h2 class="name">Num de matricule</h2>
        <input class="matricule" type="number" name="agent.matricule" [(ngModel)]="agent.matricule" />
      </div>
      <h2 class="name">Situation</h2>
      <select class="option" name="agent.situation" [(ngModel)]="agent.situation">
        <option value="none" disabled="disabled">
          --choisir une option--
        </option>
        <option value="active">Agent</option>
        <option value="retired">Retrété</option>
      </select>
      <div id="name">
        <h2 class="name">Nom</h2>
        <input class="firstname" type="text" name="agent.nom" [(ngModel)]="agent.nom" />
        <label class="firstlabel">Prénom</label>
        <input class="lastname" type="text" name="agent.prenom" [(ngModel)]="agent.prenom" />
        <label class="lastlabel">Nom</label>
      </div>

      <h2 class="name">Date de naissance</h2>
      <input class="naissance" type="date" name="agent.date_n" [(ngModel)]="agent.date_n" />


      <h2 class="name">Lieu de naissance</h2>
      <input class="lieu" type="text" name="agent.lieu_n" [(ngModel)]="agent.lieu_n" />


      <h2 class="name">Sexe</h2>
      <mat-radio-group aria-label="Select an option" name="agent.genre" [(ngModel)]="agent.genre">
        <mat-radio-button value="homme">Homme</mat-radio-button>
        <mat-radio-button value="femme">Femme</mat-radio-button>
      </mat-radio-group>


      <h2 class="name">Poste</h2>
      <input class="poste" type="text" name="agent.poste" [(ngModel)]="agent.poste" />


      <h2 class="name">Date de recrutement</h2>
      <input class="date_rec" type="date" name="agent.recrutement_date" [(ngModel)]="agent.recrutement_date" />

      <h2 class="name">Résidence</h2>
      <input class="residence" type="text" name="agent.residence" [(ngModel)]="agent.residence" />
      <div id="name">
        <h2 class="name">Num téléphone</h2>
        <input class="phone" type="text" name="agent.numTel" [(ngModel)]="agent.numTel" />
      </div>
      <div>
        <h2 class="name">Les membres de sa famille</h2>
        <div class="table">
          <table class="tablefamille">
            <tr id="header">
              <th>Num de matricule</th>
              <th>Nom&prénom</th>
              <th>Qualité</th>
              <th>Date de naissance</th>
              <th>Lieu de naissance</th>
              <th>Sexe</th>
              <th>Rang</th>
            </tr>
            <tr *ngFor="let familyMember of agent.familyMembers">
              <td>{{agent.matricule}}</td>
              <td>{{familyMember.nom}} {{familyMember.prenom}}</td>
              <td>{{familyMember.qualite}}</td>
              <td>{{familyMember.date_n}}</td>
              <td>{{familyMember.lieu_n}}</td>
              <td>{{familyMember.genre}}</td>
              <td>{{familyMember.rang}}</td>

            </tr>

          </table>
        </div>
        <button type="button" class="ajout" data-toggle="modal" data-target="#toggleModal" #toggleModal>
          Ajouter les membres de sa famille
        </button>
      </div>

      <button type="submit" class="submit" (click)="onAddAgent()">Ajouter</button>
    </div>
  </div>
  <div class="modal fade" id="toggleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="consultform">
          <h1>Formulaire membres de famille</h1>
        </div>
        <div class="main">
          <div id="name">
            <h2 class="name">Nom</h2>
            <input class="firstname" type="text" name="member.nom" [(ngModel)]="member.nom" />
            <label class="firstlabel">Prénom</label>
            <input class="lastname" type="text" name="member.prenom" [(ngModel)]="member.prenom" />
            <label class="lastlabel">Nom</label>
          </div>

          <h2 class="name">Date de naissance</h2>
          <input class="naissance" type="date" name="member.date_n" [(ngModel)]="member.date_n" />


          <h2 class="name">Lieu de naissance</h2>
          <input class="lieu" type="text" name="member.lieu_n" [(ngModel)]="member.lieu_n" />


          <h2 class="name">Sexe</h2>
          <mat-radio-group aria-label="Select an option" name="member.genre" [(ngModel)]="member.genre">
            <mat-radio-button value="homme">Homme</mat-radio-button>
            <mat-radio-button value="femme">Femme</mat-radio-button>
          </mat-radio-group>


          <h2 class="name">Qualité</h2>
          <select class="option" name="Qualité" name="member.qualite" [(ngModel)]="member.qualite">
            <option disabled="disabled" selected="selected">--choisir une option-- </option>
            <option value="conjoint">Conjoint</option>
            <option value="enfant">Enfant</option>
          </select>

          <h2 class="name">Rang</h2>
          <input class="rang" type="number" name="member.rang" [(ngModel)]="member.rang" />


          <button class="submit" (click)="onAddFamilyMember()">Ajouter</button>

        </div>
      </div>
    </div>
  </div>
</div>
