.main-container {

  padding-top: 50px;
  padding-bottom: 50px;
}

.main {
  background-color: rgba(99, 179, 179, 0.6);
  width: 700px;
  margin: auto;
}

.consultform {
  width: 700px;
  background-color: #025d6d;
  color: #FFFFFF;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.code {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;

}

.name {
  margin-left: 25px;
  margin-top: 30px;
  width: 200px;
  color: white;
  font-size: 17px;
  font-weight: 700;
}

.main {
  padding: 30px;
}

.option {
  position: relative;
  left: 200px;
  top: -20px;
  line-height: 50px;
  width: 240px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  outline: none;
  color: #555;
}

.bouton2 {
  background-color: #68ebf5;
  display: block;
  margin: 5px 0px 0px 0px;
  text-align: center;
  font-size: 15px;
  border-radius: 12px;
  border: 2px solid rgb(27, 204, 235);
  padding: 14px 50px;
  outline: none;
  color: black;
  cursor: pointer;
  transition: 0.25px;
  box-shadow: 0 0 10px #4bf0f0;
  transition-duration: 0.3s;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.role-text {
  color: orangered;
  font-weight: bold;
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}

.bouton2:hover {
  box-shadow: 0 0 20px #46fcf3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.3s;

}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.recherche {
  padding: 5px 10px 5px 10px;
  border: 3px solid rgb(108, 180, 221);
  height: 40px;
  width: 300px;
  border-radius: 50px;


}



.error-message {
  color: #DC143C;
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
}

.error-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
