<div class="main-container">
  <div class="consultform">
    <h1>Formulaire medecin</h1>
  </div>
  <div class="main">
    <div id="name">
      <h2 class="name"> matricule</h2>
      <input class="matricule" type="number" name="doctor.matricule" (focus)="onResetMessage()"
        (input)="onChangeMatricule($event)" [(ngModel)]="doctor.matricule" />
    </div>
    <div id="name">
      <h2 class="name">Nom</h2>
      <input class="firstname" type="text" name="doctor.prenom" (focus)="onResetMessage()"
        [(ngModel)]="doctor.prenom" />
      <label class="firstlabel">Prénom</label>
      <input class="lastname" type="text" name="doctor.nom" (focus)="onResetMessage()" [(ngModel)]="doctor.nom" />
      <label class="lastlabel">Nom</label>
    </div>
    <div id="name">
      <h2 class="name">Num de téléphone</h2>
      <input class="matricule" type="number" name="doctor.numTel" (focus)="onResetMessage()"
        (input)="onChangePhoneNumber($event)" [(ngModel)]="doctor.numTel" />
    </div>
    <div id="name">
      <h2 class="name">Nom d'utilisateur</h2>
      <input class="matricule" type="text" name="doctor.username" (focus)="onResetMessage()"
        [(ngModel)]="doctor.username" />
    </div>
    <div id="name">
      <h2 class="name">Mail</h2>
      <input class="matricule" type="text" name="doctor.email" (focus)="onResetMessage()" [(ngModel)]="doctor.email" />
    </div>
    <div id="name">
      <h2 class="name">Mot de passe</h2>
      <input class="matricule" type="password" name="doctor.password" (focus)="onResetMessage()"
        [(ngModel)]="doctor.password" />
    </div>
    <div id="name">
      <h2 class="name">Confirmer mot de passe</h2>
      <input class="matricule" type="password" name="rePassword" (focus)="onResetMessage()" [(ngModel)]="rePassword" />
    </div>
    <div class="error-message-container">
      <h2 class="error-message">
        {{errorMessage}}
      </h2>
    </div>
    <button (click)="onAddDoctor()">Ajouter</button>

  </div>

</div>
