.main-container {
  padding-top: 100px;
  padding-bottom: 50px;
}

table {
  border-collapse: collapse;
  height: 100px;
  border: 1px solid rgb(30, 166, 207);
  box-shadow: 2px 2px 12px rgb(165, 211, 255), -1px -1px 8px rgba(0, 0, 0, 0);
}

tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-color: rgba(81, 145, 145, 0.6);
}

#header {
  background-color: #025d6d;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid rgb(27, 204, 235);
  color: white;
}

tr:hover {
  background-color: #41acbe;
}

.submit {
  background-color: #68ebf5;
  display: block;
  text-align: center;
  font-size: 15px;
  border-radius: 12px;
  border: 2px solid rgb(28, 110, 124);
  outline: none;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  cursor: pointer;
  transition: 0.25px;
  box-shadow: 0 0 10px #4bf0f0;
  transition-duration: 0.3s;
}

.submit:hover {
  box-shadow: #8fb7bc;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.bouton {
  background-color: #68ebf5;
  display: block;
  text-align: center;
  font-size: 15px;
  border-radius: 12px;
  border: 2px solid rgb(27, 204, 235);
  padding: 14px 50px;
  margin: auto;
  margin-top: 20px;
  outline: none;
  color: black;
  cursor: pointer;
  transition: 0.25px;
  box-shadow: 0 0 10px #4bf0f0;
  transition-duration: 0.3s;
}

.bouton:hover {
  box-shadow: 0 0 20px #46fcf3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.tableau {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouton2 {
  background-color: #68ebf5;
  display: block;
  margin: 5px 0px 0px 0px;
  text-align: center;
  font-size: 15px;
  border-radius: 12px;
  border: 2px solid rgb(27, 204, 235);
  padding: 14px 50px;
  margin-left: 500px;
  outline: none;
  color: black;
  cursor: pointer;
  transition: 0.25px;
  box-shadow: 0 0 10px #4bf0f0;
  transition-duration: 0.3s;
}

.bouton2:hover {
  box-shadow: 0 0 20px #46fcf3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.3s;
}

#para {
  border-left-width: 10px;
  font-family: calibri;
  line-height: 20px;
  margin-left: 20px;
}

.main {
  background-color: rgba(99, 179, 179, 0.6);
  width: 700px;
  margin: auto;
  padding: 20px;
}

.consultform {
  width: 700px;
  background-color: #025d6d;
  color: #ffffff;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.name {
  margin-left: 25px;
  margin-top: 30px;
  width: 200px;
  color: white;
  font-size: 17px;
  font-weight: 700;
}

form {
  padding: 30px;
}

.option {
  position: relative;

  line-height: 50px;
  width: 240px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  outline: none;
  color: #555;
}

.field-value {
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.option option {
  font-size: 20px;
}

.firstname {
  position: relative;
  margin-top: 30px;
  top: -37px;
  line-height: 40px;
  border-radius: 6px;
  font-size: 16px;
}

.lastname {
  position: relative;

  top: -37px;
  line-height: 40px;
  border-radius: 6px;

  font-size: 16px;
}

.firstlabel {
  color: white;
  text-transform: capitalize;
  font-size: 14px;
}

.lastlabel {
  color: white;
  text-transform: capitalize;
  font-size: 14px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.recherche {
  padding: 5px 10px 5px 10px;
  border: 3px solid rgb(108, 180, 221);
  height: 40px;
  width: 300px;
  border-radius: 50px;
}
