ul {
  list-style: none;
}

section {
  width: 100%;

}

.form {
  width: 500px;
}

h1 {
  color: #000033;
  text-align: center;
  margin-bottom: 4px;
}

.head div {
  width: 50%;
  margin-left: 2px;
}



#para {
  border-left-width: 10px;
  font-family: calibri;
  line-height: 20px;
  margin-left: 20px;

}

.list-consultation p {
  font-family: calibri;
  font-weight: bold;
  font-size: 22px;
  background-color: #80e5ff;
  margin-bottom: 20px;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.list-consultation {
  right: 0;
  top: 0;
  width: 500px;
  margin: auto;
  background-color: #ccf5ff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 20px solid #80e5ff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.box {
  width: 500px;
  margin: auto;
  border-bottom: 20px solid #80e5ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.box h3 {
  font-family: calibri;
  background: #80e5ff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;

}

.box ul {
  position: center;
  background: #ccf5ff;
  font-family: 'calibri';

}


.box ul li {
  list-style: none;
  padding: 10px;
  box-shadow: 0 5px 25px #f0f0f5;
  transition: transform 0.5s;
}

.box ul li:hover {
  transform: scale(1.1);
  z-index: 100;
  background: #ccf5ff;
  box-shadow: 0 5px 25px #80e5ff;
  color: #00bfff;


}

.box ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #ccf5ff;
  color: #00bfff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
  transform: translateY(-2px);

}

.box ul li:hover span {
  background: #00bfff;
  color: #ffffff;
}

#nav:after {
  content: '';
  display: table;
}

#nav a {
  text-decoration: none;
  text-transform: uppercase;
}

#nav ul {
  margin: 20px 0 0 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

#nav li:hover>ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
  left: 400px;
  width: 200px;
}

#nav ul ul {
  left: 150px;
}

.form .txt {
  position: relative;
  margin: 30px 0;

}

.txt_field input {

  padding: 0 5px;
  height: 30px;
  font-size: 16px;
  border: 2px solid #302dff;
  outline: none;

}

.side-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-row {
  margin-bottom: 10px;
  margin-top: 10px;
}

.txt_field label {
  font-family: calibri;

  color: #302dff;
  font-size: 20px;
}

.mark-presence-image {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

.submit {
  width: 150px;
  height: 30px;
  border: 1px solid;
  background: #87CEFA;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: center;
  cursor: pointer;

  margin-bottom: 10px;
}

.submit:hover {
  border-color: #90EE90;
  transition: .5s;
}

#medecin {
  margin-left: 4px;
  width: 150px;


}

.deconnecter {
  background-color: #68ebf5;

  margin-top: 50px;
  display: block;
  text-align: center;
  font-size: 15px;
  border-radius: 12px;
  border: 2px solid rgb(27, 204, 235);
  padding: 14px 50px;
  outline: none;
  color: rgb(8, 8, 8);
  cursor: pointer;
  transition: 0.25px;
  box-shadow: 0 0 10px #4bf0f0;
  transition-duration: 0.3s;
}

.deconnecter:hover {
  box-shadow: 0 0 20px #46fcf3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.3s;

}


.error-message {
  color: #DC143C;
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
}

.error-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
