<div class="main-container">
  <div class="search">
    <input class="recherche" type="text" name="searchedMat" (change)="filterAgents()" [(ngModel)]="searchedMat"
      placeholder="Entrez la matricule ">
    <a href="#"><i class="fa fa-search"></i></a>
  </div>
  <div class="tableau">
    <div>
      <table>
        <tr id="header">
          <th>Num de matricule</th>
          <th>Nom&prénom</th>
          <th>situation</th>
          <th>Poste</th>
          <th>Résidence</th>
          <th>Num téléphone</th>
        </tr>
        <tr *ngFor="let agent of filtredAgents" (click)="setSelectedAgent(agent._id)">
          <td>{{agent.matricule}}</td>
          <td>{{agent.nom}} {{agent.prenom}}</td>
          <td>{{agent.situation}}</td>
          <td>{{agent.poste}}</td>
          <td>{{agent.residence}}</td>
          <td>{{agent.numTel}}</td>
          <td>
            <button class="submit" type="submit" (click)="onDeleteAgent(agent._id)">Supprimer</button>
            <button type="submit" class="submit">Modifier</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="selectedAgent">
    <div class="consultform">
      <h1>{{selectedAgent.nom}} {{selectedAgent.prenom}}</h1>
    </div>
    <div class="main">
      <div>
        <h2 class="name">Num de matricule:
          <span class="field-value">{{selectedAgent.matricule}}</span>
        </h2>
      </div>
      <div>
        <h2 class="name">Situation:
          <span class="field-value">{{selectedAgent.situation}}</span>
        </h2>

      </div>
      <div>
        <h2 class="name">Date de naissance:
          <span class="field-value">{{selectedAgent.date_n}}</span>
        </h2>
      </div>
      <div>
        <h2 class="name">Lieu de naissance:
          <span class="field-value">{{selectedAgent.lieu_n}}</span>
        </h2>
      </div>
      <div>
        <h2 class="name">Sexe:
          <span class="field-value">{{selectedAgent.genre}}</span>
        </h2>
      </div>
      <div>
        <h2 class="name">Poste:
          <span class="field-value">{{selectedAgent.poste}}</span>
        </h2>
      </div>
      <div>
        <h2 class="name">Date de recrutement:
          <span class="field-value">{{selectedAgent.recuretement_date}}</span>
        </h2>
      </div>
      <div>
        <h2 class="name">Résidence:
          <span class="field-value">{{selectedAgent.residence}}</span>
        </h2>
      </div>
      <div>
        <h2 class="name">Num de téléphone:
          <span class="field-value">{{selectedAgent.numTel}}</span>
        </h2>
      </div>
      <div>
        <h2 class="name">Sa famille</h2>
        <div class="table">
          <table class="tablefamille">
            <tr id="header">
              <th>Num de matricule</th>
              <th>Nom&prénom</th>
              <th>Qualité</th>
              <th>Date de naissance</th>
              <th>Lieu de naissance</th>
              <th>Sexe</th>
              <th>Rang</th>
            </tr>
            <tr *ngFor="let member of selectedAgent.familyMembers">
              <td>{{selectedAgent.matricule}}</td>
              <td>{{selectedAgent.nom}} {{selectedAgent.prenom}}</td>
              <td>{{selectedAgent.qualite}}</td>
              <td>{{selectedAgent.date_n}}</td>
              <td>{{selectedAgent.lieu_n}}</td>
              <td>{{selectedAgent.genre}}</td>
              <td>{{selectedAgent.rang}}</td>

            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>


</div>
