<div class="main-container">
  <div>
    <div class="search">
      <input class="recherche" type="text" name="box" placeholder="Entrez la matricule ">
      <a href="#"><i class="fa fa-search"></i></a>
    </div>
    <div class="tableau">
      <table>
        <tr id="header">
          <th>Num matricule</th>
          <th>Nom&prénom</th>
          <th>Téléphone</th>
          <th>Nom d'utilisateur</th>
          <th>mail</th>


        </tr>
        <tr>
          <td>531515</td>
          <td>Ali gbgn</td>
          <td>92651516</td>
          <td>Nom d'utilisateur</td>
          <td>mohamedali@gmail.com</td>
          <td>
            <button class="submit" type="submit">Supprimer</button>
            <button class="submit" type="submit">Modifier</button>
          </td>

        </tr>
        <tr>
          <td>531515</td>
          <td>Ali gbgn</td>
          <td>92651516</td>
          <td>Nom d'utilisateur</td>
          <td>mohamedali@gmail.com</td>
          <td>
            <button class="submit" type="submit">Supprimer</button>
            <button class="submit" type="submit">Modifier</button>
          </td>
        </tr>
        <tr>
          <td>531515</td>
          <td>Ali gbgn</td>
          <td>92651516</td>
          <td>Nom d'utilisateur</td>
          <td>mohamedali@gmail.com</td>

          <td>
            <button class="submit" type="submit">Supprimer</button>
            <button class="submit" type="submit">Modifier</button>
          </td>

        </tr>
        <tr>
          <td>531515</td>
          <td>Ali gbgn</td>
          <td>92651516</td>
          <td>Nom d'utilisateur</td>
          <td>mohamedali@gmail.com</td>

          <td>
            <button class="submit" type="submit">Supprimer</button>
            <button class="submit" type="submit">Modifier</button>
          </td>
        </tr>
        <tr>
          <td>531515</td>
          <td>Ali gbgn</td>
          <td>92651516</td>
          <td>Nom d'utilisateur</td>
          <td>mohamedali@gmail.com</td>

          <td>
            <button class="submit" type="submit">Supprimer</button>
            <button class="submit" type="submit">Modifier</button>
          </td>
        </tr>
        <tr>
          <td>531515</td>
          <td>Ali gbgn</td>
          <td>92651516</td>
          <td>Nom d'utilisateur</td>
          <td>mohamedali@gmail.com</td>

          <td>
            <button class="submit" type="submit">Supprimer</button>
            <button class="submit" type="submit">Modifier</button>
          </td>
        </tr>
      </table>

      <div class="button-container">
        <button type="submit" class="bouton">Fermer</button>
      </div>

    </div>
  </div>

</div>
