<div class="main-container">
  <div>
    <div class="search">
      <input class="recherche" type="text" name="searchedMat" (change)="filterNurses()" [(ngModel)]="searchedMat"
        placeholder="Entrez la matricule ">
      <a href="#"><i class="fa fa-search"></i></a>
    </div>
    <div class="tableau">
      <table>
        <tr id="header">
          <th>Num matricule</th>
          <th>Nom&prénom</th>
          <th>Téléphone</th>
          <th>Nom d'utilisateur</th>
          <th>mail</th>


        </tr>
        <tr *ngFor="let nurse of filtredNurses">
          <td>{{nurse.matricule}}</td>
          <td>{{nurse.nom}} {{nurse.prenom}}</td>
          <td>{{nurse.numTel}}</td>
          <td>{{nurse.username}}</td>
          <td>{{nurse.email}}</td>
          <td>
            <button class="submit" type="submit" (click)="onDeleteNurse(nurse._id)">Supprimer</button>
            <button class="submit" type="submit">Modifier</button>
          </td>

        </tr>
      </table>

    </div>
  </div>

</div>
