table {
  margin-left: 30px;
  border-collapse: collapse;
  width: 90%;
  height: 200px;
  border: 1px solid rgb(30, 166, 207);
  box-shadow: 2px 2px 12px rgb(165, 211, 255), -1px -1px 8px rgba(0, 0, 0, 0);
}

tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-color: rgba(81, 145, 145, 0.6);
}

tr:hover {
  background-color: #41acbe;
  box-shadow: 2px 2px 12px rgb(165, 241, 255), -1px -1px 8px rgba(0, 0, 0, 0);
}

#header {
  background-color: #025d6d;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid rgb(27, 204, 235);
  color: white;
}

button {
  background-color: #68ebf5;
  display: block;
  margin: 5px 0px 0px 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 12px;
  border: 2px solid rgb(27, 204, 235);
  padding: 14px 50px;
  outline: none;
  color: black;
  cursor: pointer;
  transition: 0.25px;
  box-shadow: 0 0 10px #4bf0f0;
  transition-duration: 0.3s;
}
tr:hover {
  background-color: #41acbe;
}

button:hover {
  box-shadow: 0 0 20px #46fcf3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.recherche {
  border: 3px solid rgb(108, 180, 221);
  height: 40px;
  width: 300px;
  border-radius: 50px;
  margin-bottom: 20px;
}

#para {
  border-left-width: 10px;
  font-family: calibri;
  line-height: 20px;
  margin-left: 20px;
}
