<div class="main-container">
  <div class="search">
    <input class="recherche" type="text" name="searchedMat" [(ngModel)]="searchedMat"
      placeholder="Entrez la matricule ">
    <a (click)="onSearch()"><i class="fa fa-search"></i></a>
  </div>
  <div class="consultform">
    <h1>Formulaire mettre à jour un agent</h1>
  </div>
  <div class="main">
    <form>
      <h2 class="name">Situation</h2>
      <select class="option" name="agent.situation" [(ngModel)]="agent.situation">
        <option disabled="disabled">--choisir une option-- </option>
        <option value="active">Active</option>
        <option value="retired">Retrété</option>
      </select>



      <h2 class="name">Poste</h2>
      <input class="poste" type="text" name="agent.poste" [(ngModel)]="agent.poste">



      <h2 class="name">Résidence</h2>
      <input class="residence" type="text" name="agent.residence" [(ngModel)]="agent.residence">
      <div id="name">
        <h2 class="name">Num téléphone</h2>
        <input class="phone" type="text" name="agent.numTel" [(ngModel)]="agent.numTel">
      </div>
      <div>
        <h2 class="name">Les membres de sa famille</h2>
        <div class="table">
          <table class="tablefamille">
            <tr id="header">
              <th>Num de matricule</th>
              <th>Nom&prénom</th>
              <th>Qualité</th>
              <th>Date de naissance</th>
              <th>Lieu de naissance</th>
              <th>Sexe</th>
              <th>Rang</th>
            </tr>
            <tr *ngFor="let member of agent.familyMembers ">
              <td>{{agent.matricule}}</td>
              <td>{{member.nom}} {{member.prenom}}</td>
              <td>{{member.qualite}}</td>
              <td>{{member.date_n}}</td>
              <td>{{member.lieu_n}}</td>
              <td>{{member.genre}}</td>
              <td>{{member.rang}}</td>

            </tr>

          </table>
        </div>
        <button class="ajout" type="submit">Ajouter un nouveau membre</button>
      </div>

    </form>
    <button type="submit" class="bouton" (click)="onSave()">Sauvegarder</button>
  </div>

</div>
