<div class="main-container">
  <div class="search">
    <input class="recherche" type="text" name="box" placeholder="Entrez la matricule ">
    <a href="#"><i class="fa fa-search"></i></a>
  </div>
  <div class="consultform">
    <h1>Formulaire mettre à jour un agent</h1>
  </div>
  <div class="main">
    <form>
      <h2 class="name">Situation</h2>
      <select class="option" name="Qualité">
        <option disabled="disabled" selected="selected">--choisir une option-- </option>
        <option>Agent</option>
        <option>Retrété</option>
      </select>



      <h2 class="name">Poste</h2>
      <input class="poste" type="text" name="poste_travail">



      <h2 class="name">Résidence</h2>
      <input class="residence" type="text" name="residence">
      <div id="name">
        <h2 class="name">Num téléphone</h2>
        <input class="code" type="text" name="area_code">
        <label class="area_code"> code</label>
        <input class="phone" type="text" name="phone number">
        <label class="phone_number">numéro</label>
      </div>
      <div>
        <h2 class="name">Les membres de sa famille</h2>
        <div class="table">
          <table class="tablefamille">
            <tr id="header">
              <th>Num de matricule</th>
              <th>Nom&prénom</th>
              <th>Qualité</th>
              <th>Date de naissance</th>
              <th>Lieu de naissance</th>
              <th>Sexe</th>
              <th>Rang</th>
            </tr>
            <tr>
              <td>31351</td>
              <td>mariem ali</td>
              <td>enfant</td>
              <td>02/01/1987</td>
              <td>bizerte</td>
              <td>homme</td>
              <td>1</td>

            </tr>
            <tr>
              <td>31351</td>
              <td>mariem ali</td>
              <td>enfant</td>
              <td>02/01/1987</td>
              <td>bizerte</td>
              <td>homme</td>
              <td>1</td>

            </tr>
            <tr>
              <td>31351</td>
              <td>mariem ali</td>
              <td>enfant</td>
              <td>02/01/1987</td>
              <td>bizerte</td>
              <td>homme</td>
              <td>1</td>
            </tr>
            <tr>
              <td>31351</td>
              <td>mariem ali</td>
              <td>conjoint</td>
              <td>02/01/1987</td>
              <td>bizerte</td>
              <td>femme</td>
              <td></td>
            </tr>
            <tr>
              <td>31351</td>
              <td>mariem ali</td>
              <td>enfant</td>
              <td>02/01/1987</td>
              <td>bizerte</td>
              <td>homme</td>
              <td>1</td>
            </tr>
            <tr>
              <td>31351</td>
              <td>mariem ali</td>
              <td>enfant</td>
              <td>02/01/1987</td>
              <td>bizerte</td>
              <td>homme</td>
              <td>1</td>
            </tr>
          </table>
        </div>
        <button class="ajout" type="submit">Ajouter un nouveau membre</button>
      </div>

    </form>
    <button type="submit" class="bouton">Sauvegarder</button>
  </div>

</div>
