<nav class="navbar">
  <ul class="nav-items">
    <li routerLinkActive="nav-item-selected" class="nav-item">
      <a class="item-text" routerLink="/admin/ajouter-agent">
        Ajouter Agent
      </a>
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item">
      <a class="item-text" routerLink="/admin/ajouter-medecin">
        Ajouter medecin
      </a>
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item">
      <a class="item-text" routerLink="/admin/ajouter-infirmier">
        Ajouter infirmier
      </a>
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item">
      <a class="item-text" routerLink="/admin/agent">
        Consulter agent
      </a>
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item">
      <a class="item-text" routerLink="/admin/medecin">
        Consulter medecin
      </a>
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item">
      <a class="item-text" routerLink="/admin/infirmier">
        Consulter infirmier
      </a>
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item">
      <a class="item-text" routerLink="/admin/update-agent">
        Modifier agent
      </a>
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item">
      <a class="item-text" routerLink="/admin/update-medecin">
        Modifier medecin
      </a>
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item">
      <a class="item-text" routerLink="/admin/update-infirmier">
        Modifier infirmier
      </a>
    </li>

  </ul>
</nav>
