<nav class="navbar">
  <ul class="nav-items">
    <li
      routerLinkActive="nav-item-selected"
      class="nav-item"
      routerLink="/admin/ajouter-agent"
    >
      Ajouter Agent
    </li>
    <li
      routerLinkActive="nav-item-selected"
      class="nav-item"
      routerLink="/admin/ajouter-medecin"
    >
      Ajouter medecin
    </li>
    <li
      routerLinkActive="nav-item-selected"
      class="nav-item"
      routerLink="/admin/ajouter-infirmier"
    >
      Ajouter infirmier
    </li>
    <li
      routerLinkActive="nav-item-selected"
      class="nav-item"
      routerLink="/admin/agent"
    >
      Consulter agent
    </li>
    <li
      routerLinkActive="nav-item-selected"
      class="nav-item"
      routerLink="/admin/medecin"
    >
      Consulter medecin
    </li>
    <li
      routerLinkActive="nav-item-selected"
      class="nav-item"
      routerLink="/admin/infirmier"
    >
      Consulter infirmier
    </li>
    <li
      routerLinkActive="nav-item-selected"
      class="nav-item"
      routerLink="/admin/update-agent"
    >
      Modifier agent
    </li>
    <li
      routerLinkActive="nav-item-selected"
      class="nav-item"
      routerLink="/admin/update-medecin"
    >
      Modifier medecin
    </li>
    <li
      routerLinkActive="nav-item-selected"
      class="nav-item"
      routerLink="/admin/update-infirmier"
    >
      Modifier infirmier
    </li>
  </ul>
</nav>
