.consultform {
  background-color: #025d6d;
  color: #FFFFFF;
  margin: auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.main {
  background-color: rgba(103, 160, 160, 0.6);
  padding-top: 20px;
}

form {
  padding: 30px;
}

#name {
  width: 100%;


}

.name {

  width: 150px;
  color: white;
  font-size: 17px;
  font-weight: 700;
}

.matricule {
  position: relative;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}

.firstname {
  position: relative;


  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;

}

.row {
  margin-bottom: 40px;
}


.lastname {
  position: relative;


  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}

.firstlabel {
  position: relative;
  color: white;
  text-transform: capitalize;
  font-size: 15px;
}


.lastlabel {

  position: relative;
  color: white;
  text-transform: capitalize;
  font-size: 15px;


}

.option {
  line-height: 50px;
  width: 235px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  outline: none;
  color: #555;
}

.option option {
  font-size: 20px;
}

button {
  background-color: #68ebf5;
  display: block;
  text-align: center;
  font-size: 17px;
  border-radius: 12px;
  border: 2px solid rgb(27, 204, 235);
  padding: 14px 50px;
  outline: none;
  color: black;
  cursor: pointer;
  transition: 0.25px;
  box-shadow: 0 0 10px #4bf0f0;
  transition-duration: 0.3s;
}

.header-tilte,
.content-container {
  margin: 0;
}

button:hover {
  box-shadow: 0 0 20px #46fcf3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.3s;

}

#para {
  border-left-width: 10px;
  font-family: calibri;
  line-height: 20px;
  margin-left: 20px;


}

.tablefamille {

  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

tr {
  transition: all .2s ease-in;
  cursor: pointer;
  background-color: rgba(81, 145, 145, 0.6);
}

#header {
  background-color: #025d6d;
  color: white;

}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid rgb(27, 204, 235);
  color: white;

}

tr:hover {
  background-color: #41acbe;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgb(165, 241, 255), -1px -1px 8px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}
