<nav class="navbar">
  <ul class="nav-items">


    <li routerLinkActive="nav-item-selected" class="nav-item" routerLink="/doctor/marquer-presence">
      Acceuil
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item" routerLink="/doctor/ajouter-consultation">
      Ajouter consultation
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item" routerLink="/doctor/consultations">
      Consultations
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item" routerLink="/doctor/chercher-dossier">
      Cherchez dossier
    </li>
  </ul>
</nav>
