<input
  style="display: none"
  type="file"
  #fileDossierImage
  (change)="onChangeDossierImage($event)"
/>
<input
  style="display: none"
  type="file"
  #fileBiologyImage
  (change)="onChangeBiologyImage($event)"
/>
<div *ngIf="dossierMedical && editedDossierMedical && owner" class="container">
  <div class="page">
    <div class="section">
      <div class="row">
        <div *ngIf="!isEditing" class="col edit-container">
          <button class="submit" (click)="onToggleEdit()">Modifier</button>
        </div>
      </div>
    </div>
    <div class="infophoto">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
          <div class="info">
            <p>
              <strong>{{ owner.nom }} {{ owner.prenom }}</strong
              ><br />
              matricule: {{ dossierMedical.agent_matricule }}<br />
              qualité: {{ owner.qualite || "agent" }} <br />
              Né le: {{ owner.date_n }} <br />
              maladies chroniques:<br />
              <span *ngIf="!isEditing">
                <span
                  *ngFor="
                    let ficheChronique of dossierMedical.fiche_medical_chronique
                  "
                  (click)="selectFicheMaladieChronique(ficheChronique._id)"
                  style="
                    text-decoration: underline;
                    cursor: pointer;
                    color: aquamarine;
                  "
                >
                  {{ ficheChronique.maladie }}<br />
                </span>
              </span>
              <span *ngIf="isEditing">
                <span
                  *ngFor="
                    let ficheChronique of editedDossierMedical.fiche_medical_chronique
                  "
                  (click)="selectFicheMaladieChronique(ficheChronique._id)"
                >
                  {{ ficheChronique.maladie }}<br />
                </span>
              </span>
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="photo-container">
            <img
              *ngIf="!loadingUploadDossierImage"
              [src]="editedDossierMedical.image"
              class="photo"
              height="200px"
              width="200px"
              [ngStyle]="{ cursor: isEditing ? 'pointer' : 'default' }"
              alt="photo dossier médical"
              (click)="importDossierImage()"
            />
            <ngx-spinner
              *ngIf="loadingUploadDossierImage"
              size="medium"
              color="#fff"
              type="ball-scale"
              [fullScreen]="false"
            >
            </ngx-spinner>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isEditing" class="section">
      <div class="section">
        <div class="row justify-content-center">
          <div class="col justify-content-center" style="display: flex">
            <select
              class="option"
              (input)="onChangeSelectedHistoryAnthropometrique($event)"
            >
              <option value="current">
                --------------------------Current--------------------------
              </option>
              <option
                *ngFor="
                  let historyAnthropometrique of dossierMedical.anthropometriques_history
                "
                [value]="historyAnthropometrique._id"
              >
                {{ formatDateHistory(historyAnthropometrique.date) }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="sec_gauche">
              <div class="row">
                <h2 class="titre">Données anthropometriques</h2>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >poids en kg:
                    <span>
                      {{ selectedHistoryAnthropometrique.poid }}
                    </span>
                  </label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >Taille:
                    <span>
                      {{ selectedHistoryAnthropometrique.taille }}
                    </span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >vision prés-droite:
                    <span>
                      {{ selectedHistoryAnthropometrique.vision_pre_droite }}
                    </span>
                  </label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >vision prés-gauche:
                    <span>
                      {{ selectedHistoryAnthropometrique.vision_pre_gauche }}
                    </span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >vision loin-droite:
                    <span>
                      {{ selectedHistoryAnthropometrique.vision_loin_droite }}
                    </span>
                  </label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >vision loin-gauche:
                    <span>
                      {{ selectedHistoryAnthropometrique.vision_loin_gauche }}
                    </span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >audition oreille-droite:
                    <span>
                      {{
                        selectedHistoryAnthropometrique.audition_oreille_gauche
                      }}
                    </span>
                  </label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >audition oreille-gauche:
                    <span>
                      {{
                        selectedHistoryAnthropometrique.audition_oreille_droite
                      }}
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
            <div class="sec_droite">
              <div class="row">
                <h2 class="titre">Données cardio-vasculaires</h2>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >Pouls:
                    <span>
                      {{ selectedHistoryAnthropometrique.puls }}
                    </span>
                  </label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >Tension:
                    <span>
                      {{ selectedHistoryAnthropometrique.tension }}
                    </span>
                  </label>
                </div>
              </div>
              <div class="row">
                <p class="name">existe t'il un éléctrocardiogramme?</p>
              </div>
              <div class="row">
                <div class="col">
                  <label *ngIf="dossierMedical.haveElectrocardiogramme"
                    >Oui</label
                  >
                  <label *ngIf="!dossierMedical.haveElectrocardiogramme"
                    >Non</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="sec_droite">
          <div class="row justify-content-center">
            <h2 class="titre">Données biologiques</h2>
          </div>
          <div
            *ngIf="
              dossierMedical.biologiques?.current && !loadingUploadBiologyImage
            "
            class="row justify-content-center"
          >
            <img
              [src]="dossierMedical.biologiques?.current"
              class="biology-image"
            />
          </div>
          <ngx-spinner
            *ngIf="loadingUploadBiologyImage"
            size="medium"
            color="#fff"
            type="ball-scale"
            [fullScreen]="false"
          >
          </ngx-spinner>
          <div class="row">
            <div
              *ngFor="let historyImage of dossierMedical.biologiques?.history"
              class="col-2"
            >
              <img [src]="historyImage" class="biology-image" />
            </div>
          </div>
          <div class="fiche-container">
            <div class="row justify-content-center">
              <h2 class="fiche">Fiche médicale ordinaire</h2>
            </div>
            <div class="row">
              <div class="col">
                <div class="row justify-content-center tableau">
                  <table>
                    <tr id="header">
                      <th>Date</th>
                      <th>Observation</th>
                      <th>Prescription</th>
                      <th>Certificat</th>
                      <th>Ordonnance</th>
                    </tr>
                    <tr
                      *ngFor="
                        let appointment of dossierMedical
                          .fiche_medical_ordinaire.appointments
                      "
                    >
                      <td>{{ formatDate(appointment.date) }}</td>
                      <td>{{ appointment.observation }}</td>
                      <td>{{ appointment.prescription }}</td>
                      <td
                        (click)="
                          onDownloadPdfCertificat(
                            dossierMedical.fiche_medical_ordinaire._id,
                            appointment
                          )
                        "
                        style="text-decoration: underline"
                      >
                        {{ appointment.certificat }}
                      </td>
                      <td
                        *ngIf="appointment.haveOrdonnance == true"
                        (click)="
                          onDownloadPdfOrdonnance(
                            dossierMedical.fiche_medical_ordinaire._id,
                            appointment._id
                          )
                        "
                        style="text-decoration: underline"
                      >
                        Oui
                      </td>
                      <td *ngIf="appointment.haveOrdonnance == false">Non</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- fiche Medical not edited -->
          <div *ngIf="selectedFichedMedicalChronique">
            <div class="row justify-content-center fiche-container">
              <h2 class="fiche">
                Fiche médicale {{ selectedFichedMedicalChronique.maladie }}
              </h2>
            </div>
            <div class="row">
              <div class="col">
                <div class="row justify-content-center tableau">
                  <table>
                    <tr id="header">
                      <th>Date</th>
                      <th>Observation</th>
                      <th>Prescription</th>
                      <th>Certificat</th>
                      <th>Ordonnance</th>
                    </tr>
                    <tr
                      *ngFor="
                        let appointment of selectedFichedMedicalChronique.appointments
                      "
                    >
                      <td>{{ formatDate(appointment.date) }}</td>
                      <td>{{ appointment.observation }}</td>
                      <td>{{ appointment.prescription }}</td>
                      <td
                        (click)="
                          onDownloadPdfCertificat(
                            selectedFichedMedicalChronique._id,
                            appointment
                          )
                        "
                      >
                        {{ appointment.certificat }}
                      </td>
                      <td
                        *ngIf="appointment.haveOrdonnance == true"
                        (click)="
                          onDownloadPdfOrdonnance(
                            selectedFichedMedicalChronique._id,
                            appointment._id
                          )
                        "
                      >
                        Oui
                      </td>
                      <td *ngIf="appointment.haveOrdonnance == false">Non</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isEditing" class="section">
      <div class="section">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="sec_gauche">
              <div class="row">
                <h2 class="titre">Données anthropometriques</h2>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input
                    class="Poids"
                    type="number"
                    [(ngModel)]="editedDossierMedical.anthropometriques.poid"
                  />
                  <label class="label_poids">poids en kg</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input
                    class="taille"
                    type="number"
                    [(ngModel)]="editedDossierMedical.anthropometriques.taille"
                  />
                  <label class="label_taille">Taille</label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input
                    class="visionpréD"
                    type="number"
                    [(ngModel)]="
                      editedDossierMedical.anthropometriques.vision_pre_droite
                    "
                  />
                  <label class="label_vpd">vision-prés droite</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input
                    class="visionpréG"
                    type="number"
                    [(ngModel)]="
                      editedDossierMedical.anthropometriques.vision_pre_gauche
                    "
                  />
                  <label class="label_vpg">vision-prés gauche</label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input
                    class="visionloinD"
                    type="number"
                    [(ngModel)]="
                      editedDossierMedical.anthropometriques.vision_loin_droite
                    "
                  />
                  <label class="label_vld">vision-loin droite</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input
                    class="visionloinG"
                    type="number"
                    [(ngModel)]="
                      editedDossierMedical.anthropometriques.vision_loin_gauche
                    "
                  />
                  <label class="label_vlg">vision-loin gauche</label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input
                    class="auditionOD"
                    type="number"
                    [(ngModel)]="
                      editedDossierMedical.anthropometriques
                        .audition_oreille_gauche
                    "
                  />
                  <label class="label_od">audition-oreille droite</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input
                    class="auditionOG"
                    type="number"
                    [(ngModel)]="
                      editedDossierMedical.anthropometriques
                        .audition_oreille_droite
                    "
                  />
                  <label class="label_og">audition-oreille gauche</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="sec_droite">
              <div class="row">
                <h2 class="titre">Données cardio-vasculaires</h2>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input
                    class="pouls"
                    type="number"
                    [(ngModel)]="editedDossierMedical.anthropometriques.puls"
                  />
                  <label class="label_pouls">Pouls</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col2">
                  <input
                    class="tension"
                    type="number"
                    [(ngModel)]="editedDossierMedical.anthropometriques.tension"
                  />
                  <label class="label_tension">Tension</label>
                </div>
              </div>
              <div class="row">
                <p class="name">existe t'il un éléctrocardiogramme?</p>
              </div>
              <div class="row">
                <div class="col">
                  <mat-radio-group
                    aria-label="Select an option"
                    name="editedDossierMedical.haveElectrocardiogramme"
                    [(ngModel)]="editedDossierMedical.haveElectrocardiogramme"
                  >
                    <mat-radio-button [value]="true">Oui</mat-radio-button>
                    <mat-radio-button [value]="false">Non</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="sec_droite">
            <div class="row align-items justify-content-around">
              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="row">
                  <h2 class="titre">Données biologiques</h2>
                </div>

                <div class="row">
                  <button class="scanner" (click)="importBiologyImage()">
                    importer
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-md-5">
                  <div class="sec_droiteAdmin">
                    <img
                      [src]="
                        editedDossierMedical.biologiques.current ||
                        'assets/images/import-image.png'
                      "
                      class="biology-image"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  *ngFor="
                    let historyImage of editedDossierMedical.biologiques
                      ?.history
                  "
                  class="col-2"
                >
                  <img [src]="historyImage" class="biology-image" />
                </div>
              </div>
            </div>
          </div>
          <!-- fiche Medical edited -->

          <div class="fiche-container">
            <div class="row justify-content-center">
              <h2 class="fiche">Fiche médicale ordinaire</h2>
            </div>
            <div class="row">
              <div class="col">
                <div class="row justify-content-center tableau">
                  <table>
                    <tr id="header">
                      <th>Date</th>
                      <th>Observation</th>
                      <th>Prescription</th>
                      <th>Certificat</th>
                      <th>Ordonnance</th>
                    </tr>
                    <tr></tr>
                    <tr
                      *ngFor="
                        let appointment of editedDossierMedical
                          .fiche_medical_ordinaire.appointments
                      "
                    >
                      <td>{{ formatDate(appointment.date) }}</td>
                      <td>{{ appointment.observation }}</td>
                      <td>{{ appointment.prescription }}</td>
                      <td
                        (click)="
                          onDownloadPdfCertificat(
                            editedDossierMedical.fiche_medical_ordinaire._id,
                            appointment
                          )
                        "
                      >
                        {{ appointment.certificat }}
                      </td>
                      <td
                        *ngIf="appointment.haveOrdonnance == true"
                        (click)="
                          onDownloadPdfOrdonnance(
                            editedDossierMedical.fiche_medical_ordinaire._id,
                            appointment._id
                          )
                        "
                      >
                        Oui
                      </td>
                      <td *ngIf="appointment.haveOrdonnance == false">Non</td>
                    </tr>
                  </table>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col">
                    <button
                      class="valider"
                      (click)="
                        setFicheToAddAppointment(
                          editedDossierMedical.fiche_medical_ordinaire._id
                        )
                      "
                      data-target="#modalAddAppointment"
                      id="button-add-appointment"
                      data-toggle="modal"
                      #modalAddAppointment
                    >
                      Ajouter un nouveau rendez-vous
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedFichedMedicalChronique">
            <div class="row justify-content-center fiche-container">
              <h2 class="fiche">
                Fiche médicale {{ selectedFichedMedicalChronique.maladie }}
              </h2>
            </div>
            <div class="row">
              <div class="col">
                <div class="row justify-content-center tableau">
                  <table>
                    <tr id="header">
                      <th>Date</th>
                      <th>Observation</th>
                      <th>Prescription</th>
                      <th>Certificat</th>
                      <th>Ordonnance</th>
                    </tr>
                    <tr
                      *ngFor="
                        let appointment of selectedFichedMedicalChronique.appointments
                      "
                    >
                      <td>{{ formatDate(appointment.date) }}</td>
                      <td>{{ appointment.observation }}</td>
                      <td>{{ appointment.prescription }}</td>
                      <td
                        (click)="
                          onDownloadPdfCertificat(
                            selectedFichedMedicalChronique._id,
                            appointment
                          )
                        "
                      >
                        {{ appointment.certificat }}
                      </td>
                      <td
                        *ngIf="appointment.haveOrdonnance == true"
                        (click)="
                          onDownloadPdfOrdonnance(
                            selectedFichedMedicalChronique._id,
                            appointment._id
                          )
                        "
                      >
                        Oui
                      </td>
                      <td *ngIf="appointment.haveOrdonnance == false">Non</td>
                    </tr>
                  </table>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col">
                    <button
                      class="valider"
                      (click)="
                        setFicheToAddAppointment(
                          selectedFichedMedicalChronique._id
                        )
                      "
                      data-target="#modalAddAppointment"
                      data-toggle="modal"
                      #modalAddAppointment
                    >
                      Ajouter un nouveau rendez-vous
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-1"></div>
            <div class="col">
              <button
                class="valider"
                id="button-add-maladie"
                data-target="#modalAddMaladie"
                data-toggle="modal"
              >
                Ajouter une fiche chronique
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-0 col-xs-0"></div>
            <div class="col-2">
              <button class="submit" (click)="onValidate()">Valider</button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-0 col-xs-0"></div>
            <div class="col-2">
              <button class="submit" (click)="onToggleEdit()">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal add maladie -->
  <div
    class="modal fade"
    id="modalAddMaladie"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="row consultform">
          <div class="col">
            <h1>Nouvelle fiche</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 main">
            <div class="row justify-content-center nom">
              <h2 class="name">Nom de la maladie</h2>
            </div>
            <div class="row justify-content-center field">
              <input class="matricule" type="text" [(ngModel)]="maladieToAdd" />
            </div>
            <div class="row justify-content-center">
              <div class="col-3">
                <button class="submit" (click)="onAddFicheMedicalChronique()">
                  Valider
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal add rendez vous -->

  <div
    class="modal fade"
    id="modalAddAppointment"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="row consultform">
          <div class="col">
            <h1>Nouveau rendez-vous</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 main">
            <div class="row justify-content-center nom">
              <h2 class="name">Observation</h2>
            </div>
            <div class="row justify-content-center field">
              <div class="col-12">
                <input
                  class="observation"
                  type="text"
                  name="num_matricule"
                  [(ngModel)]="newAppointment.observation"
                />
              </div>
            </div>
            <div class="row justify-content-center nom">
              <h2 class="name">Prescription</h2>
            </div>
            <div class="row justify-content-center field">
              <div class="col-12">
                <input
                  class="observation"
                  type="text"
                  name="num_matricule"
                  [(ngModel)]="newAppointment.prescription"
                />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-7">
                <h2 class="name">voulez-vous créer une ordonnance?</h2>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <mat-radio-group
                  aria-label="Select an option"
                  [(ngModel)]="newAppointment.haveOrdonnance"
                >
                  <mat-radio-button [value]="true">Oui</mat-radio-button>
                  <mat-radio-button [value]="false">Non</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row justify-content-center nom">
              <div class="col-7">
                <h2 class="name">Choisir un modèle de certificat</h2>
              </div>
            </div>
            <div class="row justify-content-center field">
              <select
                class="option"
                name="Qualité"
                [(ngModel)]="newAppointment.certificat"
              >
                <option disabled="disabled" selected="selected">
                  --choisir un modèle--
                </option>
                <option value="medical">Certificat Médical</option>
                <option value="accompagnement">
                  Certificat Accompagnement
                </option>
                <option value="mariage">Certificat de Mariage</option>
                <option value="presence">Lettre de présence</option>
              </select>
            </div>
            <div class="row justify-content-end">
              <div class="col-8"></div>
              <div class="col">
                <button class="submit" (click)="onAddAppointment()">
                  Valider
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
