<div class="container">
  <div class="page">
    <div class="infophoto">
      <div class="row ">
        <div class=" col-lg-8 col-md-6 col-sm-12 col-xs-12">
          <div class="info">
            <p><strong>Mohamed Ali</strong><br>
              De matricule: 25161<br>
              Sa qualité est: agent <br>
              Né le: 12/20/1988 <br>
              Ses maladies chroniques sont:
            </p>
          </div>
        </div>

        <div class=" col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="photo">
            <img src="images/avatar.png" alt="photo dossier médical" />
          </div>
        </div>
      </div>
    </div>



    <div class="section">

      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="sec_gauche">
            <div class="row">
              <h2 class="titre">Données anthropomètriques</h2>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>poids en kg:</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>Taille:</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>vision prés-droite:</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>vision prés-gauche:</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>vision loin-droite:</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>vision loin-gauche:</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>audition oreille-droite:</label>
              </div>
              <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
                <label>audition oreille-gauche:</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
          <div class="sec_droite">
            <div class="row">
              <h2 class="titre">Données cardio-vasculaires</h2>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>Pouls:</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>Tension:</label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="section">
      <div class="sec_droite">
        <div class="row justify-content-center">
          <h2 class="titre">Données biologiques</h2>
        </div>
        <div class="row justify-content-center">
          <img id="img" src="images/scanner.png">
        </div>
      </div>
      <div>
      </div>
    </div>


    <div class="row justify-content-center">
      <h2 class="fiche">Fiche médicale ordinaire</h2>
    </div>
    <div class="row justify-content-around">
      <div class="tableau">
        <table>
          <tr id="header">
            <th>Date</th>
            <th>Observation</th>
            <th>Prescription</th>
            <th>Certificat</th>
          </tr>
          <tr>
            <td>02/05/2021</td>
            <td>glhjdlkgdjgùkgnrngl</td>
            <td>dkhnùtoihnthtdnhtiun</td>
            <td>
              <select class="option" name="TypeCertif">
                <option disabled="disabled" selected="selected">--Liste des certificats--
                </option>

              </select>
            </td>
          </tr>
          <tr>
            <td>02/05/2021</td>
            <td>glhjdlkgdjgùkgnrngl</td>
            <td>dkhnùtoihnthtdnhtiun</td>
            <td>
              <select class="option" name="TypeCertif">
                <option disabled="disabled" selected="selected">--Liste des certificats--
                </option>

              </select>
            </td>
          </tr>
          <tr>
            <td>02/05/2021</td>
            <td>glhjdlkgdjgùkgnrngl</td>
            <td>dkhnùtoihnthtdnhtiun</td>
            <td>
              <select class="option" name="TypeCertif">
                <option disabled="disabled" selected="selected">--Liste des certificats--
                </option>

              </select>
            </td>
          </tr>
          <tr>
            <td>02/05/2021</td>
            <td>glhjdlkgdjgùkgnrngl</td>
            <td>dkhnùtoihnthtdnhtiun</td>
            <td>
              <select class="option" name="TypeCertif">
                <option disabled="disabled" selected="selected">--Liste des certificats--
                </option>

              </select>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-lg-9"></div>
      <div class="col-lg-3">
        <button class="submit" type="submit">Retour</button>
      </div>
    </div>

  </div>
</div>
