

<div class="main-container">
    <div class="center"> 
 	<h1 class="main-page-title">Inscription</h1>
 <form method="post">
  <div class="input-container">
  	  <i class="fa fa-user" aria-hidden="true"></i>
        <div class="input-field-container">
            <mat-form-field  class="txt_field">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput >
              </mat-form-field>

        </div>

  </div>

  <div class="input-container">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <div class="input-field-container">
          <mat-form-field  class="txt_field">
            <mat-label>Email</mat-label>
            <input matInput >
          </mat-form-field>

      </div>

  </div>
   <div class="input-container">
   	<i class="fa fa-lock" aria-hidden="true"></i>
       <div class="input-field-container">
           <mat-form-field  class="txt_field">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password">
          </mat-form-field>

       </div>

  </div> 
  <div class="input-container">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <div class="input-field-container">
        <mat-form-field  class="txt_field">
            <mat-label>Confirmer mot de passe</mat-label>
            <input matInput type="password" >
          </mat-form-field>
      </div>

  </div>
  <div class="signup_link"> </div>
  <div class="container">
  	<h3>S'inscrire en tant que: </h3>
      <mat-radio-group class="input-radio-container" aria-label="Select an option">
        <mat-radio-button class="radio-option" value="1">Administrateur</mat-radio-button>
        <mat-radio-button class="radio-option" value="2">Médecin</mat-radio-button>
        <mat-radio-button class="radio-option" value="2">Infirmier</mat-radio-button>

      </mat-radio-group>
  		
  		

  	
  </div>	
  <button class="submit-button" >
    Se Connecter
</button>  </form>
 </div>

</div>