<div class="matricule">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <form action="" class="form">
          <div class="row justify-content-center">
            <div class="row align-items-start">
              <img src="images/agent.PNG">
            </div>
          </div>
          <div class="row">
            <h2>Matricule</h2>
          </div>
          <div class="row">
            <div class="input">
              <input type="number" id="matriculeAgent" required>
              <label for=matriculeAgent>Matricule patient</label>
            </div>
          </div>
          <div class="row">
            <h2>Qualité</h2>
          </div>
          <div class="row">
            <div class="input">
              <select class="option" name="Qualité">
                <option disabled="disabled" selected="selected">Choisir une option </option>
                <option>Conjoint</option>
                <option>Enfant</option>
              </select>
            </div>
          </div>
          <div class="row">
            <h2>Rang</h2>
          </div>
          <div class="row">
            <div class="input">
              <input type="number" id="matriculeAgent" required>
              <label for=matriculeAgent>rang patient</label>
            </div>
          </div>
          <div class="row">

            <input type="submit" value="Valider" class="submit">
            <input type="submit" value="Retour" class="submit">

          </div>
        </form>
      </div>
    </div>
  </div>

</div>
