<nav class="navbar">
  <ul class="nav-items">


    <li routerLinkActive="nav-item-selected" class="nav-item" routerLink="/nurse/marquer-presence">
      Marquer presence
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item" routerLink="/nurse/ajouter-consultation">
      Ajouter consultation
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item" routerLink="/nurse/consultations">
      Consultations
    </li>
    <li routerLinkActive="nav-item-selected" class="nav-item" routerLink="/nurse/chercher-dossier">
      Cherchez dossier
    </li>
  </ul>
</nav>
